<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="submit"><a href="{% url 'register' %}">Register</a></button>
    {% if x %}
    <br>
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{x}}
        <button type="submit">Register</button>
    </form>
    <!-- {{x.name.label}}{{x.name}}{{x.name.errors}} <hr/> -->
    <!-- {{x.as_p}} <hr/>
    {{x.as_table}} <hr/>
    {{x.as_ul}} <hr/>
    {{x.as_div}} <hr/> -->
    {% endif %}
    <button type="submit"><a href="">Login</a></button>
    <button type="submit"><a href="{% url 'showuser' %}">Show Users</a></button>
    {% if data %}
    {% for i in data %}
    <br/>

    {{i.name}}
    {% endfor %}
    <button><a href="{% url 'hidedata' %}">Hide data</a></button>
    {% endif %}
</body>
</html>