
/* NAVBAR=========================================================================================== */
#navbar{
    position: fixed;
    z-index: 100;
    height: 13.4vh;
    width: 100%;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
}

#main-container{
    background-color: white;
    height: 13.4vh;
    width: 100%;
    
}

#nav-logo{
    margin-left: 3vw;
}

#navlinks{
    /* padding-left: 6.25px; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.25px;
    font-weight: 700;
    margin-right: 2vw;
}
.nav-item{
    padding-top: 3.8vh;
    height:13.5vh;
}

#navlink-heading{
    margin-right: 1vw;
    margin-left: .5vw;
    color: rgb(70, 70, 70);
    text-shadow: 0.25px 0.25px rgba(119, 114, 114, 0.705);
    
}
sup{
    margin-left: 5px;
    color: #ff3f6c;
}







/* Search in Navbar============================================================================== */


.d-flex{  
    height: 6.6vh;
    width: 26.9vw;
    margin-left: 7vw;
    margin-right: 0px;
    padding-left: 3px;
    border: 0;
    border-radius: 5px;
    background-color: whitesmoke;
}

.search-btn{
    background-color: white;
    height: 6.4vh;
    padding-left: 1vw;
    border: 0px;
    background-color: whitesmoke;
    /* border-radius: 5px; */
}

#search{
    margin-left: .5vw;
    border: 0px;
    background-color: whitesmoke;
    font-size: 13px;
    font-weight: 400;
}

/* Icons in Navbar=================================================================== */

#icons{
    height: 13.4vh;
    margin-top: -2.5vh;
}

.nav-link{
    text-align: center;
}

#nav_icon{
    margin-left: -8px;
}

#icon-head{
    font-size: 11px;
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: .7vw;
    color: rgb(70, 70, 70);
    text-shadow: 0.25px 0.25px rgba(119, 114, 114, 0.705);

}


.b_space{
    height: 17vh;
    width: 100%;
}



/* hover effect================================= */

.navdropdown{
    display: none;
    position: fixed;
    z-index: 101;
    margin-left: -8.9vw;
    margin-top: 4vh;
    height: 100%;
    width: 100%;
    padding: 2vh 3vw 4vh 3vw;
    background-color: rgba(0, 0, 0, 0.4);
}
.dditems{
    z-index: 102;
    margin-top: -2vh;
    margin-left: 5vw;
    height: 73vh;
    width: 90%;
    padding: 2vh 2vh 2vh 0vh;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.13);
}






/* DROPDOWN COLUMN CSS ===============================================================================================*/

#evencol{
    margin-top: -2vh;
    padding-top: 2vh;
    height: 73vh;
    background-color: rgb(250, 250, 250);
}

.col ul{
    list-style: none;
    margin-left: -1.2vw;
}

.col ul a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    line-height: 3.73vh;
}
.col ul a:hover{
    font-weight: 600;
}

#ddmen{
    font-weight: 700;
    color: rgb(241, 73, 115);
}
#ddwomen{
    font-weight: 700;
    color: rgb(255, 73, 179);
}
#ddkids{
    font-weight: 700;
    color: rgb(240, 96, 13) ;
}
#ddhome{
    font-weight: 700;
    color: rgb(253, 199, 22);
}
#ddbeauty_genz{
    font-weight: 700;
    color: rgb(0, 162, 216);
}

#link_men:hover{
    border-bottom: 4px solid rgb(243, 54, 101);
}
#link_men:hover .navdropdown{
    display: block;
}

#link_women:hover {
    border-bottom: 4px solid rgb(255, 73, 179);
}
#link_women:hover .navdropdown{
    display: block;
    margin-left: -13.62vw;
}

#link_kids:hover{
    border-bottom: 4px solid rgb(240, 96, 13);
}
#link_kids:hover .navdropdown{
    display: block;
    margin-left: -19.9vw;
}

#link_home:hover{
    border-bottom: 4px solid rgb(253, 199, 22);
}
#link_home:hover .navdropdown{
    display: block;
    margin-left: -24.62vw;
}

#link_beauty:hover{
    border-bottom: 4px solid rgb(0, 162, 216);
}
#link_beauty:hover .navdropdown{
    display: block;
    margin-left: -30vw;
}

#link_genz:hover{
    border-bottom: 4px solid rgb(0, 162, 216);
}
#link_genz:hover .navdropdown{
    display: block;
    margin-left: -36.1vw;
}


.ddstudio{
    margin-top: -2vh;
    margin-left: 23.5vw;
    height: 74.5vh;
    width: 43%;
    padding: 2vh;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.13);
}
#studiobtn{
    text-decoration: none;
    padding: 3vh;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 15vw;
    margin-top: 5vh;
    color: black;
    border: 1px solid rgb(216, 216, 216);
}

#link_studio:hover{
    border-bottom: 4px solid rgb(253, 21, 137);
}
#link_studio:hover .navdropdown{
    display: block;
    margin-left: -41.12vw;
}

/*USER DROPDOWN ============================================================================ */

.userdd{
    display: none;
    position: fixed;
    z-index: 90;
    margin-left: -9.5vw;
    margin-top: 1.5vh;
    height: 73vh;
    width: 21vw;
    padding: 4.8vh 1.5vw 3vh 1.5vw;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.13);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4vh;
}


#link_user:hover{
    height: 14.6vh;
    border-bottom: 4px solid rgb(243, 54, 101);
}

#link_user:hover .userdd{
    display: block;
}

#welcome{
    line-height: 0px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1.3vh;
}

#welcome1{
    line-height: 0px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1.3vh;
}

.buttons{
    margin-top: -4px;
    height: 5.7vh;
    width: 10.4vw;
    border: 1px solid rgb(212, 212, 212);
    color: #ff3f6c;
    font-weight: 700;
}
.buttons .btn{
    text-decoration: none;
    color: #ff3f6c;
    font-weight: 700;
    font-size: 12px;
}
.buttons:hover{
    border: 1px solid #ff3f6c;
}

.userdd ul{
    list-style: none;
    margin-left: -2vw;
}
.userdd a{
    text-decoration: none;
}

.userdd a:hover{
    font-weight: 600;
}

#spannew{
    margin-left: 4px;
    padding: 1px 3px 1px 3px;
    font-size: 10px;
    font-style: italic;
    border: 1px solid #ff3f6c;
    border-radius: 5px;
    background-color: #ff2356;
    color: white;
}




/* FOOTER========================================================================================= */


