<!-- MAIN DTL TAGS================ -->
{% extends "base.html" %}
{% load static %}

<!-- TITLE================== -->
{% block title %}  
Buy Personal Care & Beauty Products Online at Best Price | Myntra
{% endblock %}

<!-- CSS===================== -->
{% block css %}  

{% endblock %}

<!-- CONTENT=================================== -->
{% block content %}  
beauty pg
{% endblock %}

<!-- FOOTER===================================== -->
{% block footer %}  

{% endblock %}

<!-- JAVASCRIPT -->
{% block javascript %}  

{% endblock %}
