<!-- MAIN DTL TAGS================ -->
{% extends "base.html" %}
{% load static %}

<!-- TITLE================== -->
{% block title %}  
Online Shopping Site - Shop Online for Men, Women & Kids Fashion | Myntra
{% endblock %}

<!-- CSS===================== -->
{% block css %}  

{% endblock %}

<!-- CONTENT=================================== -->
{% block content %}  
GENZ pg
{% endblock %}

<!-- FOOTER===================================== -->
{% block footer %}  

{% endblock %}

<!-- JAVASCRIPT -->
{% block javascript %}  

{% endblock %}
