{% load static %}

{% block css %}
<style>

.category-container{
margin: 0vh 5.2vw 5vh 5.5vw;

}

.row{
  margin: 0px;
  
}
.card{
  margin-bottom: 8vh;
  border: 0px;
  border-radius: 0px;
  /* height: 40.25vh; */
  max-height: 40.25;
  max-width: 12.5vw; 
  /* overflow: hidden; */
}

#c1 .card-img{
  object-fit: cover;
  object-position: -1.45vw 1.3vh;
  transform: scale(1.23);
}

#c2 .card-img{
  object-fit: fill;
  object-position: -.95vw 1.3vh;
  transform: scale(1.23);
}
#c3 .card-img{
  object-fit: fill;
  object-position: -.4vw 1.3vh;
  transform: scale(1.23);
}
#c4 .card-img{
  object-fit: fill;
  object-position: .2vw 1.3vh;
  transform: scale(1.23);
}
#c5 .card-img{
  object-fit: fill;
  object-position: .85vw 1.3vh;
  transform: scale(1.23);
}
#c6 .card-img{
  object-fit: fill;
  object-position: 1.45vw 1.3vh;
  transform: scale(1.23);
}


</style>
{% endblock %}


<a id=".category-heading" href="category">
  <img src="{% static 'images/shopbycategory/heading.jpg'  %}" alt="" width="100%">
</a>

<div class="category-container">
  <div class="row">
    <div class="col">
      <a href="#">
        <div class="card" id="c1" >
        <img src="{% static 'images/shopbycategory/1.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c2">
        <img src="{% static 'images/shopbycategory/2.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c3">
        <img src="{% static 'images/shopbycategory/3.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c4">
        <img src="{% static 'images/shopbycategory/4.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c5">
        <img src="{% static 'images/shopbycategory/5.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c6">
        <img src="{% static 'images/shopbycategory/6.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#">
        <div class="card" id="c1">
        <img src="{% static 'images/shopbycategory/7.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c2">
        <img src="{% static 'images/shopbycategory/8.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c3">
        <img src="{% static 'images/shopbycategory/9.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c4">
        <img src="{% static 'images/shopbycategory/10.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c5">
        <img src="{% static 'images/shopbycategory/11.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c6">
        <img src="{% static 'images/shopbycategory/12.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#">
        <div class="card" id="c1">
        <img src="{% static 'images/shopbycategory/13.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c2">
        <img src="{% static 'images/shopbycategory/14.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c3">
        <img src="{% static 'images/shopbycategory/15.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c4">
        <img src="{% static 'images/shopbycategory/16.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c5">
        <img src="{% static 'images/shopbycategory/17.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c6">
        <img src="{% static 'images/shopbycategory/18.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#">
        <div class="card" id="c1">
        <img src="{% static 'images/shopbycategory/19.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c2">
        <img src="{% static 'images/shopbycategory/20.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c3">
        <img src="{% static 'images/shopbycategory/21.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c4">
        <img src="{% static 'images/shopbycategory/22.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c5">
        <img src="{% static 'images/shopbycategory/23.jpg'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c6">
        <img src="{% static 'images/shopbycategory/24.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">
        <div class="card" id="c1">
        <img src="{% static 'images/shopbycategory/25.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c2">
        <img src="{% static 'images/shopbycategory/26.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c3">
        <img src="{% static 'images/shopbycategory/27.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c4">
        <img src="{% static 'images/shopbycategory/28.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c5">
        <img src="{% static 'images/shopbycategory/29.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
    <div class="col">
      <a href="">
        <div class="card" id="c6">
        <img src="{% static 'images/shopbycategory/30.webp'  %}" class="card-img" alt="...">
        </div>
      </a>
    </div>
  </div>
  </div>    
</div>