<!-- MAIN DTL TAGS================ -->
{% extends "base.html" %}
{% load static %}

<!-- TITLE================== -->
{% block title %}  
Fashion Trends from India's Top Fashion Influencers in 2025
{% endblock %}

<!-- CSS===================== -->
{% block css %}  

{% endblock %}

<!-- CONTENT=================================== -->
{% block content %}  
Studio
{% endblock %}

<!-- FOOTER===================================== -->
{% block footer %}  

{% endblock %}

<!-- JAVASCRIPT -->
{% block javascript %}  

{% endblock %}
