<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Email: <input type="text" name="email", value="{{email}}"><br><br>
        {{pmsg}}<br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit", value="login">
    </form>
</body>
</html>