<a href="{% url 'register' %}">Register</a>
<a href="{% url 'login' %}">Login</a>
<br><br>
{% if register %}
<h1>Registration Page</h1>
<form action="{% url 'registerdata' %}" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    Name: <input type="text" name="name"><br><br>
    E-mail: <input type="email" name="email"><br><br>
    Contact: <input type="number" name="contact"><br><br>
    Image: <input type="file" name="image" accept=".jpeg, .jpg, .png,"><br><br>
    Document: <input type="file" name="document" accept=".pdf"><br><br>
    <input type="submit" value="register">
</form>

{% elif login %}
<h1>Login Page</h1>
<form action="{% url 'logindata' %}" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    E-mail: <input type="email" name="l_email"><br><br>
    Password: <input type="password" name="l_password"><br><br>
    <input type="submit" value="login">
</form>

{% endif %}